@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --montserrat: "Montserrat", sans-serif;
  --poppins: "Poppins", sans-serif;

  --light-pink: #ffc8b0;
  --pink: #ff836f;
  --black: #402e32;
}

html,
body {
  display: grid;
  height: 100vh;
  place-items: center;
  text-align: center;
  background: #f2f2f2;
}

.navbar {
  position: absolute;
  top: 0;
  background: var(--light-pink);
  width: 100vw;
  .container {
    a {
      text-decoration: none;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    padding-block: 0.8rem;
    margin: auto;
    h2 {
      font-family: var(--montserrat);
      color: white;
      span {
        color: var(--pink);
      }
    }
    ul {
      list-style: none;
      li {
        display: inline-block;
        margin-left: 2.4rem;
        a {
          h3 {
            font-family: var(--montserrat);
            color: var(--black);
            font-weight: bold;
          }
          h3:hover,
          .active {
            color: var(--pink);
            transition: all 0.2s;
          }
        }
      }
    }
  }
}

.slider {
  background: var(--pink);
  margin-top: 10rem;
  max-width: 66rem;
  display: flex;
  position: relative;
  &::before {
    content: "Your Guide to 10 of the Highest-Paying STEM Jobs";
    color: var(--light-pink);
    background: var(--black);
    position: absolute;
    top: -5.5rem;
    left: 50%;
    transform: translateX(-50%);
    font-family: var(--poppins);
    font-size: 2.4rem;
    width: 100%;
    text-align: center;
    font-weight: bold;
    line-height: 1.6;
  }
}
.slider .card {
  flex: 1;
  margin: 1.8rem 1.5rem 0;
  background: var(--black);
  width: 90%;
  height: 23rem;
}
.slider .card .img {
  height: 18rem;
  width: 95%;
  display: flex;
  align-items: center;
  margin: auto;
}
.slider .card .img img {
  width: 100%;
  object-fit: cover;
}
.card .title h3 {
  background: var(--light-pink);
  font-family: var(--montserrat);
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--black);
}

.salary p {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--light-pink);
  margin-top: 0.5rem;
}
.card .nuclear {
  margin-top: 0.8rem;
}
